@page
@model API_Project.Pages.ModelModel
@{
    ViewData["Title"] = "Model";
}

<h2>Model</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-3">

        </div>


    </div>

    @*@foreach (var b in Model.books)
    {
        <div class="row">
            <div class="col-sm-3">
                @b.BookId
            </div>
            <div class="col-sm-3">
                @b.BookName
            </div>
            <div class="col-sm-3">
                @b.BookGenre
            </div>
            <div class="col-sm-3">
                @b.BookQuantity
            </div>
        </div>
    }*@


</div>